<!DOCTYPE html>
<html lang="br">
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="stylesheet" href="assets/css/defaultStyle.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/bootstrap-icons.min.css">
	<title>Sistech - ERRO</title>
</head>
<body>
	<div class="container">
		<div style="background-color: rgba(0, 0, 0, 0.2); text-align: center;">
			<a href="#">SisTech</a>
		</div>
		<br /><br />
		<h4 style="text-align: center;" >Você não possui esse acesso a esse recurso!</h4>
		<h5 style="text-align: center;" ><a href="/dashboard/home">Voltar!</a></h5>
		<br /><br />
		<footer>
			<div style="background-color: rgba(0, 0, 0, 0.2); text-align: center;">
				© 2024 Copyright:
				<a href="#">TechGold</a>
			</div>
			<!-- Copyright -->
		</footer>
	</div>
</body>
</html>