<!DOCTYPE html>
<html lang="br">
<head>
	<title>SisTech - TechGold</title>
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="stylesheet" href="assets/css/defaultStyle.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/stylePerfil.css">
	<link rel="stylesheet" href="assets/css/bootstrap-icons.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
</head>
<body>
	<div class="container-fluid">
		<br />
		<!-- ############################################## BARRA DE NAVEGAÇÃO ################################################### -->
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="/dashboard/home"><img src="./assets/img/key.png" style="height: 18px;"> SisTech</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"> </span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/dashboard/home">Início</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dashboard</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Cliente</a></li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-nav mb-3 mb-lg-0">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> </a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="/dashboard/sobre">Sobre</a></li>
							</ul>
						</li>
						<a href="/sistech/logout">
							<i class="bi bi-power"style="font-size: 2rem; color: cornflowerblue;"> </i>
						</a>
					</ul>
				</div>
			</div>
		</nav>
		<!-- ############################################## BARRA DE NAVEGAÇÃO ################################################### -->

		<hr class="bg-danger border-2 border-top border-danger">
			<div class="container-fluid">
				<div class="row justify-content-between">
				    <div class="col-2 col-s-4">
							
				    </div>
				    <div class="col-7 col-s-6">
	
				    </div>
				    <div class="col-3 col-s-6">

			   		</div>
			    </div>
			 </div>
		</div>
		
		<br /><br />
		<footer class="text-center text-white">
			<div class="container-fluid">
				<!-- Grid container -->
			<div class="p-4 pb-0">
				<!-- Section: Social media -->
				<section class="mb-4">
					<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,191,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(30,144,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(65,105,225);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,255);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,205);" href="#!"
							role="button"></a>
						<a class="btn btn-primary btn-floating m-1" style="background-color: rgb(0,0,128);" href="#!"
							role="button"></a>
				</section>
				<!-- Section: Social media -->
			</div>
			<!-- Grid container -->

			<!-- Copyright -->
			<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
				© 2024 Copyright:
				<a class="text-white" href="#">TechGold</a>
			</div>
			<!-- Copyright -->
			</footer>
		</footer>
	</div>

	<script src="assets/js/jquery-3.6.3.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/chart.js"></script>
</body>
</html>