<!DOCTYPE html>
<html lang="br">
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="assets/img/favicon.ico">
	<link rel="stylesheet" href="assets/css/style-login.css">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<title>Sistech Login</title>
</head>
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100"/>
		<div class="card">
			<div class="card-header">
				<h3 style="font-size: 35px; text-align: center; margin-top: 20px;">Login</h3>
				<div class="d-flex justify-content-end social_icon">
				</div>
			</div>
			<div class="card-body mt-4">
				<form method="POST" action="/dashboard/login" >
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="mt-4 form-control"><img id="" src="assets/img/login-user.ico" style="width: 30px" alt="..."></span>
						</div>
						<input type="text" class="form-control mt-4" id="username" name="username" placeholder="usuario" autocomplete="off">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="mt-4 form-control"><img id="" src="assets/img/login-key.ico" style="width: 30px" alt="..."></span>
						</div>
						<input type="password" class="form-control mt-4" id="password" name="password" placeholder="senha" autocomplete="off">
					</div>
					<div class="form-group">
						<button type="submit" class="btn float-end btn-light mt-5">Logar</button>
					</div>
				</form>
			</div>
			<div class="card-footer mt-4">
				<div class="d-flex justify-content-center">
					<a href="mailto:">Esqueceu sua senha?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>